doctype html
html
  head
    title Todo List
    link( rel="stylesheet" href="/stylesheets/style.css" )
    link( href="//cdn.muicss.com/mui-0.9.9/css/mui.min.css" rel="stylesheet" type="text/css" media="screen" )

  body
    div#app
    script( type="text/javascript" src="/js/app.bundle.js")
