body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: red;
}

a {
  color: #00B7FF;
}

/*-----------STATUS-------------*/
#buts{
  position: relative; 
  top: -47px; 
  float: right;
}
#status{
  height: 46px;
  padding-top: 1px;
  padding-bottom: 51px;
}

/*------------END---------------*/
/*-----------HEADER-------------*/
#s1{
  padding-bottom: 44px; 
  color: rgb(205, 217, 226);
}
#s2{
  font-weight: 100; 
  font-size: 100px; 
  line-height: 40px
}
#name{
  padding: 23px 0px;
}

/*------------END---------------*/


.loader-pencil-content  {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.btn {
  align-items: center;
  background: #93e2cb;
  border-radius: 4px;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 1rem;
  width: 160px;
}


svg#loader-pencil {
  fill: #3a846e;
  width: 80px;
}
  
#line {
  animation: linePencil .8s infinite linear;
}

@keyframes linePencil {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-150px);
  }
}